language: python
python:
  - '3.8'

before_script:
  - pip install -r requirements.txt

# safelist
branches:
  only:
    - master

env: DJANGO_SETTINGS_MODULE="pur_beurre_platform.settings.travis"

services:
  - postgresql

addons:
  postgresql: "9.4"

script:
  - python manage.py test

