/*********
CSS FILES FOR PUR BEURRE PLATFORM
**********/

/*** STYLE ***/

:root {
    --biscuit: #E8A75D;
    --moules: #345A61;
    --moules-light: rgba(52, 90, 97, 0.8);
    --rigolo: #86EBE6;
    --caramel: #DE9440;
    --rooibos: #C45525;
    --font-family: "Scope One", sans-serif;
    --font-family-h: "Open Sans", sans-serif;
}
body {
    font-family: var(--font-family);
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0, 1);
    font-size: 1.4rem;
    font-weight: bold;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
}
h3 {
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
}
h4 {
  font-size: 1.8rem;
  padding: 1rem 0 1rem 0;
}
.masthead {
  color: var(--biscuit);
  text-shadow: 2px 1px 1px rgba(0,0,0, 0.5),
  -1px -1px 1px white;
} 
header.masthead h1 {
  font-size: 4.4rem;
}
header.masthead h2 {
  font-size: 3rem;
}
.title {
  font-size: 2.6rem;
  text-shadow: 1px 1px 1px rgba(0,0,0, 1);
  font-weight: bold;
  padding: 0;
}
.name {
  height: 150px;
  max-height: 150px;
  margin:0px 5px 0px 5px ;
  align-items: center;
  padding: 0 5px, 0 5px;
  font-size: 80%;
  line-height: 120%;
  text-overflow: ellipsis;
  overflow: auto;
}
strong {
    color: var(--rooibos);
}
#nav-form.form-control {
    background-color: rgba(228, 227, 227, 0.7);
    border: 1px solid var(--moules);
    color: var(--moules);
    font-size: 1.1rem;
}
.fas {
    font-size: 2rem;
}
#selected, #favorites {
    background-color: var(--moules);
    padding-bottom: 3rem;
    color: var(--biscuit);
}
#selected a, #connection a {
    color: var(--rooibos);
    text-decoration: none;
    font-style: italic;
    background-color: transparent;
} 
#selected a:hover, #connection a:hover {
    color:var(--rigolo);
    text-decoration: underline;
}
#off {
  color: var(--rigolo);
  text-decoration: none;
  font-style: italic;
  background-color: transparent;
} 
#off:hover {
  color:var(--rooibos);
  text-decoration: underline;
}
#contact {
    font-size: 110%;
}
#products{
    position: relative;
    background-color: var(--caramel);
    color: var(--moules);
    text-align: center;
    padding-bottom: 3rem;
}
#identity {
    color: var(--moules);
    padding-top: 4rem;
    padding-bottom: 0;
    background-color: var(--biscuit);
}
.img {
    display:block;
    width: 100%;
    height:250px; 	
}
#list {
    text-overflow: ellipsis;
    overflow: auto;
}
#connection, #legals, #profile {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.4) 100%), url("../img/bg-masthead.png");
    color: var(--moules);
    text-overflow: ellipsis;
    overflow: auto;
}
#connection {
  padding-top: 90px;
}
#profile {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.3) 100%), url("../img/portfolio/remy-3.jpg");
  color: var(--caramel);
}
#logout {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.3) 100%), url("../img/ratatouille-11.jpg");
  color: var(--caramel);
}
#logout, #profile, #connection, #legals {
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#contact {
    background-color: var(--rooibos);
    color: var(--biscuit);
}
.id-box {
    border: 4px var(--rooibos) ridge;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    color: var(--moules);
    background-color: white;
}
.card {
  background-color: var(--moules);
  border: none;
  color:var(--biscuit);    
}
.product-card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  background-color: var(--biscuit);
  color: var(--moules);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 4px var(--moules) ridge;
}
.new-product-card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  background-color: var(--biscuit);
  color: var(--moules);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 6px yellow ridge;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product-box {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--biscuit);
  border: 3px ridge var(--moules);
  text-align: center;    
  color: var(--moules);
  margin: 0.5rem 0 0.5rem 0;
 
}
.db2-sticker {
  position: absolute;
  top: -40px;
  right: 30px;
}
.logo-nutriscore {
  position: absolute;
  top: -20px;
  right: -20px;
}
.logo-star {
  position: absolute;
  top: -45px;
  left: -45px;
  width: 100px;
}

.legals, .logout {
  background-color: rgba(214, 214, 216, 0.4);
  color: var(--moules);
  text-shadow: 1px 1px 1px rgba(0,0,0, 1);
}
footer {
    background-color: var(--caramel);
    color: var(--moules);
    box-shadow: 0rem 1rem 2rem rgba(0, 0, 0, 0.4);
}
.d-block {
    color: var(--caramel);
    font-weight: bold;
} 
.d-block:hover {
    color:var(--rigolo);
    text-decoration: underline;
}
.btn {
  background-color: var(--caramel);
  border-radius: 2px;
  color: var(--moules);
  padding:6px 0 6px 0;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0,0,0, 1),
  -2px -1px 0 var(--moules);
  text-shadow: 0.5px 0.5px 0.5px rgb(114, 113, 113);
}
.btn:hover {
  background-color: var(--biscuit);
  color: var(--rooibos);
}
.form-signin {
  background-color: rgba(214, 214, 216, 0.6);
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: auto;
}
.invalid-feedback strong {
  color: red;
}
.alert {
  background: none;
  border:none;
  padding: 0;
  color: red;
  font-size: 20px;
}
