{% extends 'product/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}

{% if title == "Favoris" %}
<section class="page-section" id="favorites">
  <div class="text-center">
    {% if not message %}
    <h1 class="pb-0">Tu as <strong>{{number}} </strong>produit(s) favoris</h1>
    {% endif %}
    {% if message %}
    <h2 class="py-0"><strong>{{ message }}</h2></strong>
    {% endif %}
  </div>
</section>
{% endif %}

{% if products %}
<section class="page-section pt-4" id="products">
	<div class="container-fluid col-lg-11 " >
		<div class="row d-flex justify-content-center">
		{% include 'product/paging.html' %}
				
		{% for food in products %}
			{% with food.saved_product as food %}
					
			<div class="col-lg-4 col-md-8 mt-2 mb-2 d-flex justify-content-center ">
        {% if code == food.code and message == 'Le produit à été ajouté aux favoris !' %}
				<div class="new-product-card col-11 text-center">
        {% else %}
        <div class="product-card col-11 text-center">
        {% endif %}
          
					<img class="logo-star img-fluid" src="{% static 'product/img/star.png' %}"
          alt="logo favoris">
       
					<img class="logo-nutriscore img-fluid" src="{% static 'product/img/nutrigrade/' %}{{ food.nutrigrade }}.png"
						alt="nutrigrade {{ food.nutrigrade }}">
					
					<a href="{% url 'food' %}?favorite={{ food.code }}">
						<img class="product-img img-fluid" src="{{ food.img }}"alt="">
						<div class="row name justify-content-center align-items-center ">
              <h4 class="food-name py-0 ">{{ food.name }}</h4></a>
              <div class="row w-100"></div>
              <span class=>{{ food.details}}</span>
            </div>
					
					<hr class="divider">
					<a href="{% url 'change_favorite' %}?del={{ food.code }}">
						<i class="far fa-trash-alt del-fav"> Retire le des favoris</i>
					</a>

				</div>
			</div>
		
		{% endwith %}
		{% endfor %}
		</div>
		{% include 'product/paging.html' %}
	</div>
{% else %}
<section class="page-section h-100 pt-4" id="products">
	<div class="text-center">  
		<h2 class="text-center pb-1">Tu n'as pas encore de favoris.</h2>
		<hr class="divider">
		<img class="img-fluid" src="{% static 'product/img/star.png' %}"
					alt="logo favoris">
	</div>
{% endif %}
    
</section>

{% include 'product/footer.html' %}
{% endblock %}