{% extends 'product/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}


<section class="page-section" id="favorites">
  <div class="text-center">
    {% if not message %}
    <h1 class="pb-2">Tu as <strong>{{number}}</strong> produit(s) favoris</h1>
    {% endif %}
    {% if user.is_authenticated and title != "Pur Beurre - Top 6" %}
    <a href="{% url 'top_6' %}">Voir les produits préférés des utilisateurs</a>
    {% elif not user.is_authenticated %}
    <a href="{% url 'login' %}">Connecte toi pour voir tes favoris</a>
    {% else %}
    <a href="{% url 'favorites' %}">Voir tes produits favoris</a>
    {% endif %}
    {% if message %}
    <h2 class="py-0"><strong>{{ message }}</strong></h2>
      {% if title == "Pur Beurre - Top 6" %}
      <img class="img-fluid" src="{% static 'product/img/sticker/star.png' %}"
        style="max-width: 10%;" alt="logo favoris">
        {% endif %}
    {% endif %}
  </div>
</section>

{% if products %}
<section class="page-section pt-4" id="products">
	<div class="container-fluid col-lg-11 " >
		<div class="row d-flex justify-content-center">
    {% if number > 6 %}{% include 'product/paging.html' %}{% endif %}
		{% if title == "Pur Beurre - Favoris" %}		
    {% for food in products %}
			{% with food.saved_product as food %}	
			<div class="col-xl-4 col-lg-6 col-md-8 mt-2 mb-2 d-flex justify-content-center ">
        {% if code == food.code and message == 'Le produit à été ajouté aux favoris !' %}
				  <div class="new-fav-card col-11 text-center">
        {% else %}
          <div class="fav-card col-11 text-center">
        {% endif %}
          
					<img class="logo-star img-fluid" src="{% static 'product/img/sticker/star.png' %}"
          alt="logo favoris">
       
					<img class="logo-nutriscore img-fluid" src="{% static 'product/img/sticker/' %}{{ food.nutrigrade }}.png"
						alt="nutrigrade {{ food.nutrigrade }}">
					
					<a href="{% url 'food' %}?favorite={{ food.code }}">
						<img class="product-img img-fluid" src="{{ food.img }}"alt="">
						<div class="row name justify-content-center align-items-center ">
              <h4 class="food-name py-0 ">{{ food.name }}</h4></a>
              <div class="row w-100"></div>
              <span class=>{{ food.details}}</span>
            </div>
					
					<hr class="divider">
					
					<a href="{% url 'change_favorite' %}?del={{ food.code }}">
						<i class="far fa-trash-alt del-fav"> Retire le des favoris</i>
					</a>

				</div>
			</div>
      {% endwith %}
    {% endfor %}
    {% else %}
    
    {% for food in products %}
    <div class="col-xl-4 col-lg-6 col-md-8 mt-2 mb-2 d-flex justify-content-center ">
      {% if forloop.counter <= 6 %}

        {% if forloop.counter == 1 %}
         <div class="new-fav-card col-11 text-center">
        {% else %}
        <div class="fav-card col-11 text-center">
        {% endif %}
          <h2 class="pt-0"><strong>{{ forloop.counter }}</strong></h2>
          
          <img class="logo-nutriscore img-fluid" src="{% static 'product/img/sticker/' %}{{ food.nutrigrade }}.png"
            alt="nutrigrade {{ food.nutrigrade }}">
          
          <a class="product-link" href="{% url 'food' %}?code={{ food.code }}">
            <img class="product-img img-fluid" src="{{ food.img }}"alt="">
            <div class="row name justify-content-center align-items-center">
              <h4 class="food-name py-0 ">{{ food.name }}</h4></a>
              <div class="row w-100"></div>
              <span class=>{{ food.details }}</span>
            </div>
          
          <hr class="divider">
          
          <p><strong>{{ food.favorite }}</strong> utilisateur(s)</p>

          </div>
        </div>
        {% endif %}
        {% endfor %}
        
      {% endif %}

  {% if number > 6 %}{% include 'product/paging.html' %}{% endif %}
	</div>		
	
{% else %}
<section class="page-section h-100 pt-4" id="products">
	<div class="text-center">
    {% if title == "Pur Beurre - Favoris" %}
    <h2 class="text-center pb-1">Tu n'as pas encore de favoris.</h2>
    {% else %}
    <h2 class="text-center pb-1">Oups, il n'y à pas encore de résultats</h2>
    {% endif %}
		<hr class="divider">
		<img class="img-fluid" src="{% static 'product/img/sticker/star.png' %}"
					alt="logo favoris">
	</div>
{% endif %}
    
</section>

{% include 'product/footer.html' %}
{% endblock %}