{% extends 'product/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}

  <section class="page-section" id="selected">
    <div class="container-fluid">
      <div class="row justify-content-center align-items-center">
        
        <div class="col-lg-5 text-center">
          <img class="img-fluid border" src="{{ food.img }}" alt="">
          <h1 class="pb-2">{{ food.name }}</h1>
        </div>
        
        <div class="card col-lg-5 d-flex align-self-stretch ">
          <div class="product-box">
            
            <div class="row my-2 mx-2 justify-content-around">
              <a href="https://fr.openfoodfacts.org/nutriscore" target ="_blank">
                <img class="img-fluid"
                src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ food.nutrigrade }}.svg"
                alt="nutrigrade {{ product.nutrigrade }}">
              </a>
              {% if food.nova %}
              <a href="https://fr.openfoodfacts.org/nova" target ="_blank">
                <img class="img-fluid rounded px-1 mx1 bg-white" 
                src="https://static.openfoodfacts.org/images/misc/nova-group-{{ food.nova }}.svg"
                alt="nova-group {{ food.nova }}">
              </a>
              {% endif %}
            </div>
            
            <div class="row my-2 mx-2 justify-content-around" style="font-size: 120%;">
              <h4 class="text-center pb-0">Repères nutrinonnels
                <a href="https://fr.openfoodfacts.org/reperes-nutritionnels" target="_blank">
                  <i class="fa fa-info-circle" aria-hidden="true"></i>
                </a>
              </h4>
                <div class="row w-100"></div>
                <span class="pb-3">pour 100gr</span>
                <div class="row w-100"></div>
              <div class="justify-content-center text-left">
                <div class="row"></div>
                <p class="level">
                  <img class="img-fluid py-1"
                    src="https://static.openfoodfacts.org/images/misc/{{ food.level_fat }}.svg"
                    alt="">
                    Matières grasses / Lipides: <strong>{{ food.fat }}g</strong>
                </p>
                <div class="row w-100"></div>
                <p class="level">
                  <img class="img-fluid py-1" 
                  src="https://static.openfoodfacts.org/images/misc/{{ food.level_saturated_fat }}.svg" 
                  alt="">
                    Acides gras saturés: <strong>{{ food.saturated_fat }}g</strong>
                </p>
                <div class="row w-100"></div>
                <p class="level">
                  <img class="img-fluid py-1" 
                  src="https://static.openfoodfacts.org/images/misc/{{ food.level_sugar }}.svg" 
                  alt="">
                    Sucres: <strong>{{ food.sugar }}g</strong>
                </p>
                <div class="row w-100"></div>
                <p class="level">
                  <img class="img-fluid py-1" 
                  src="https://static.openfoodfacts.org/images/misc/{{ food.level_salt }}.svg" 
                  alt="">
                    sel: <strong>{{ food.salt }}g</strong>
                </p>
              </div>
            </div>

          </div>
        </div>
        <div class="row w-100 pt-4"></div>

        {% if not favorite %}
        <a href="{% url 'change_favorite' %}?add={{ food.code }}">
          <i class="far fa-save add-fav"> Ajoute le aux favoris</i>
        </a>
        {% else %}
        <a href="{% url 'change_favorite' %}?del={{ food.code }}">
          <i class="far fa-trash-alt del-fav"> Retire le des favoris</i>
        </a>
        {% endif %}
      </div>
    </div>
  </section>
  
  <section class="page-section py-5" id="products">
    <div class="container-fluid">
      {% if base_product == "Pur Beurre" %}
      <img class="img-fluid db2-sticker px-2"
        src="{% static 'product/img/base/pur Beurre.png' %}"
        alt="Base - Pur Beure">
      <div class="row w-100"></div>
      {% else %}
      <img class="img-fluid db2-sticker px-2"
        src="{% static 'product/img/base/Open food Facts.png' %}"
        alt="Base - Open Food Facts">
        <div class="row w-100"></div>
      {% endif %}
      <div class="row justify-content-around"> 

        <div class="product-box d-flex justify-content-center col-lg-5 col-md-8 mx-2 ">
          <div class="align-self-center">
            
            <div class="py-2">
              {% if food.stores != "" %}
              <h4>Magasins: <strong>{{ food.stores }}</strong></h4>
              {% endif %}
            </div>

            <div class="py-2">
              {% if food.brand != "" %}
              <h4>Produit de la marque: <strong>{{ food.brand }}</strong></h4>
              {% endif %}
            </div>

            <div class="row w-100"></div>
            
            <div class="py-2">
              <a href="{{ url }}" target ="_blank">
                <p class="mb-0 py-0">Voir la fiche Open Food Facts</p>
                <img class="img-fluid w-25"
                src="{% static 'product/img/openfoodfacts.png' %}"
                alt="logo OpenFoodFacts">
                
              </a>
            </div>
          </div>
        </div>

        {% if food.ingredients  %}
        <div class="product-box d-flex col-lg-5 col-md-8 mx-2">
          <div class="align-self-center">
            <h4>Ingrédients:</h4>
            <span>{{ food.ingredients }}</span>
          </div>
        </div>
        {% endif %}

      </div>
    </div>  
  </section>
{% include 'product/footer.html' %}  
{% endblock %}
  
  