{% extends 'product/base.html' %}
{% block title %}Pur Beurre - Mentions légales{% endblock %}
{% load static %}
{% block content %}

<section class="page-section h-100" id="legals">
  <div class= "container legals col-lg-6 col-md-9">
    <div class="row justify-content-center m-2">
      <h1>Mentions Légales</h1>
      <div class="row w-100"></div>

      <h3>Propiétaire: <strong>Pur Beurre</strong></h3>
      <div class="row w-100"></div>
      <h3>Concepteur: <strong>Sylvain Rieutor</strong></h3>
     
      <div class="row w-100"></div>
      <h2>Ressources</h2>
      <div class="row w-100"></div>
      <div class="align-self-center">

      <p>Thème: Adapté du modèle <a
         href="https://startbootstrap.com/themes/creative/" target ="_blank">
         <strong>Start Bootstrap Créative</strong></a>
      </p>

      <p>Photo principale: Photographe <a 
        href="https://unsplash.com/@olenka_kotyk" target ="_blank">
        <strong>Olenka Kotyk</strong></a>
      </p>

      <p>Icone carotte: Crée par <a 
        href="https://thenounproject.com/FabienJ/" target ="_blank">Fabien Jouin</a>, 
        <a href="https://thenounproject.com/" target ="_blank"><strong>the Noun Project</strong></a>
      </p>

      <p>Charte graphique: 
        <a 
          href="https://company-82435.frontify.com/d/6Yy9WFJdtp8j/pur-beurre-style-guide#/introduction/Notre-identit%C3%A9"
          target ="_blank">
          <strong>Pur Beurre</strong></a>
      </p>
      </div>
      
    </div>
  </div>
    
</section>

{% endblock %}