{% extends 'product/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% load static %}
{% block content %}

  <section class="page-section" id="selected">
  {% if product %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      
      <div class="col-lg-5 text-center">
        <img class="img-fluid border" src="{{ product.img }}" alt="">
      </div>

      <div class="card col-lg-5 col-md-10 mt-2 text-center d-flex">
        <div class="row my-2 mx-2 justify-content-around">
          
          <h1>{{ product.name }}</h1>
          
          <div class="row w-100"></div>
          
          <a href="https://fr.openfoodfacts.org/nutriscore" target ="_blank">
            <img class="img-fluid"
            src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ product.nutrigrade }}.svg"
            alt="nutrigrade {{ product.nutrigrade }}">
          </a>
          
          <div class="row w-100 justify-content-center pt-4">
            <span>{{ product.details }}</span>
          </div>
          
          <a class="pt-4" href="{% url 'food' %}?code={{ product.code }}">
            Voir la fiche produit</i>
          </a>

        </div>
      </div> 

    </div>
  </div>
</section>

<section class="page-section py-5" id="products">
  <h2 class="text-center pb-5">Vous pouvez remplacer cet aliment par:</h2>
    
  {% else %}
    <div class="text-center">
      <h1>Résultats pour votre recherche:</h1>
      <h3>"{{ request }}"</h3>    
    </div>
  </section>
  <section class="page-section pt-4" id="products">
    
    <div class="text-center">
      <h2 class="text-center">Sélectionner un produit dans la liste</h2>
      <p> ou affiner la recherche</p>
    </div>
    {% endif %}
    
    <div class="container-fluid col-lg-10 " > 
      <div class="row justify-content-center">
        {% for food in products %}
        {% if food.code != product.code %}
        <div class="col-lg-4 col-md-8 mt-4 d-flex justify-content-center ">
          <div class="product-card col-11 text-center">
            
            {% if product %}
            <img class="logo-nutriscore img-fluid" src="{% static 'product/img/nutrigrade/' %}{{ food.nutrigrade }}.png"
              alt="nutrigrade {{ food.nutrigrade }}">
            
            <a href="{% url 'food' %}?code={{ food.code }}">
            {% else %}
            <a href="{% url 'substitutes' %}?code={{ food.code }}">
            {% endif %}
              <img class="product-img img-fluid" src="{{ food.img }}"alt="">
              <h4 class="name pb-0 px-0 align-self-center col-12" style="max-height: 150px;" >{{ food.name }}</h4>
            </a>
            
            {% if product %}
            
            <hr class="divider">
            <a href="">
              <i class="far fa-save" aria-hidden="true"> Ajouter aux favoris</i>
            </a>
            
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
        <div class="row w-100 justify-content-center pt-5">
          
          {% if products.has_previous %}
          <a href="?page={{ products.previous_page_number }}">
            <i class="fas fa-arrow-circle-left"></i>
          </a>
          {% endif %}
          
          <p class="px-4">-page {{ products.number }} of {{ products.paginator.num_pages }}-</p>
          
          {% if products.has_next %}
          <a href="?page={{ products.next_page_number }}">
            <i class="fas fa-arrow-circle-right"></i>
          </a>
          {% endif %}
        </div>

      </div>
    </div>  
  </section>

{% include 'product/footer.html' %}  
{% endblock %}
  
  