{% extends 'product/base.html' %}
{% load static %}
{% block content %}

  <section class="page-section" id="selected">
  {% if product %}
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-5 text-center">
        <img class="img-fluid border" src="{{ product.img }}" alt="">
      </div>
      <div class="card col-5 text-center d-flex">
        <div class="row my-2 mx-2 justify-content-around">
          <h1>{{ product.name }}</h1>
          <a href="https://fr.openfoodfacts.org/nutriscore" target ="_blank">
            <img class="img-fluid"
            src="https://static.openfoodfacts.org/images/misc/nutriscore-{{ product.nutrigrade }}.svg"
            alt="nutrigrade {{ product.nutrigrade }}">
          </a>
          <h2>{{ product.details }}</h2>
        </div>
      </div> 
    </div>
  </div>
</section>

<section class="page-section py-5" id="products">
  <h2 class="text-center pb-5">Vous pouvez remplacer cet aliment par:</h2>
    
  {% else %}
    <div class="text-center">
      <h1>Résultats pour votre recherche:</h1>
      <h3>"{{ request }}"</h3>    
    </div>
  </section>
  <section class="page-section pt-4" id="products">
    <div class="text-center">
      <h2 class="text-center">Sélectionner un produit dans la liste</h2>
      <p> ou affiner la recherche</p>
    </div>
  {% endif %}
    <div class="container-fluid" > 
      <div class="row justify-content-center">
        {% for food in products %}
        <div class="col-lg-4 col-md-8 py-2">
          <div class="product-card">
            {% if product %}
            <img class="logo-nutriscore img-fluid" src="{% static 'product/img/nutrigrade/' %}{{ food.nutrigrade }}.png"
              alt="nutrigrade {{ food.nutrigrade }}">
              {% endif %}
            <a href="{% url 'substitutes' %}?code={{ food.code }}">
              <img class="product-img img-fluid" src="{{ food.img }}" alt="">
            </a>
            <h2>{{ food.name }}</h2>
            <hr class="divider">
            <p >{{ food.details }}</p>
            {% if product %}
            <a href="">
              <i class="far fa-save" aria-hidden="true"> Ajouter aux favoris</i>
            </a>
            {% endif %}
          </div>
        </div>       
        {% endfor %}
      </div>
    </div>  
  </section>  
  
{% endblock %}
  
  