/*********
CSS FILES FOR PUR BEURRE PLATFORM
**********/

/*** STYLE ***/

:root {
    --biscuit: #E8A75D;
    --moules: #345A61;
    --moules-light: rgba(52, 90, 97, 0.8);
    --rigolo: #86EBE6;
    --caramel: #DE9440;
    --rooibos: #C45525;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 850px;
    --breakpoint-lg: 1100px;
    --breakpoint-xl: 1200px;
    --font-family: "Scope One", sans-serif;
    --font-family-h: "Open Sans", sans-serif;
}
body {
    font-family: var(--font-family);
    text-shadow: 0.5px 0.5px 0.5px rgba(0,0,0, 1);
    font-size: 1.4rem;
    font-weight: bold;
}
h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding-bottom: 2rem;
  margin-bottom: 0;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.4rem;
  padding: 1rem 0 1rem 0;
}
h3 {
  font-size: 2rem;
  padding: 1rem 0 1rem 0;
}
h4 {
  font-size: 1.8rem;
  padding: 1rem 0 1rem 0;
}
.masthead {
  color: var(--biscuit);
  text-shadow: 1px 1px 1px rgba(0,0,0, 1),
  -2px -1px 0 var(--moules);
} 
header.masthead h1 {
  font-size: 5rem;
}
header.masthead h2 {
  font-size: 3rem;
}
.title {
  font-size: 2.6rem;
  text-shadow: 1px 1px 1px rgba(0,0,0, 1);
  font-weight: bold;
  padding: 0;
}
.name {
  height: 150px;
  max-height: 150px;
  margin:0px 2px 0px 2px ;
  text-overflow: "";
}
strong {
    color: var(--rooibos);
}
#nav-form.form-control {
    background-color: rgba(228, 227, 227, 0.7);
    border: 1px solid var(--moules);
    color: var(--moules);
    font-size: 1.1rem;
}
.fas {
    font-size: 2rem;
}
#selected {
    background-color: var(--moules);
    padding-bottom: 3rem;
    color: var(--biscuit);
}
#selected a, #connection a {
    color: var(--rooibos);
    text-decoration: none;
    background-color: transparent;
} 
#selected a:hover, #connection a:hover{
    color:var(--rigolo);
    text-decoration: underline;
}
#contact {
    font-size: 110%;
}
#products {
    background-color: var(--caramel);
    color: var(--moules);
    text-align: center;
    padding-bottom: 3rem;
}
#identity {
    color: var(--rooibos);
    padding-top: 4rem;
}
#connection, #legals {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.4) 100%), url("../img/bg-masthead.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: var(--moules);
}
#connection {
  padding-top: 80px;
}
#logout {
    background: linear-gradient(to bottom, rgba(92, 77, 66, 0.1) 0%, rgba(92, 77, 66, 0.3) 100%), url("../img/ratatouille-11.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    color: var(--caramel);
}
#contact {
    background-color: var(--rooibos);
    color: var(--biscuit);
}
.id-box {
    border: 4px var(--rooibos) ridge;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
    color: var(--moules);
    
}
.card {
  background-color: var(--moules);
  border: none;
  color:var(--biscuit);    
}
.product-card {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  text-align: center;
  background-color: var(--biscuit);
  color: var(--moules);
  margin: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 4px var(--moules) ridge;
}
.product-img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}
.product-box {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: var(--biscuit);
  border: 3px ridge var(--moules);
  text-align: center;    
  color: var(--moules);
  margin: 0.5rem 0 0.5rem 0;
 
}
.logo-nutriscore {
  position: absolute;
  top: -20px;
  right: -20px;
}
.legals, .logout {
  background-color: rgba(214, 214, 216, 0.4);
  color: var(--moules);
  text-shadow: 1px 1px 1px rgba(0,0,0, 1);
}
footer {
    background-color: var(--caramel);
    color: var(--moules);
}
.d-block {
    color: var(--caramel);
    font-weight: bold;
} 
.d-block:hover {
    color:var(--rigolo);
    text-decoration: underline;
}
.btn {
  background-color: var(--caramel);
  border-radius: 2px;
  color: var(--moules);
  padding:6px 0 6px 0;
  font-size: 1.4rem;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgba(0,0,0, 1),
  -2px -1px 0 var(--moules);
  text-shadow: 0.5px 0.5px 0.5px rgb(114, 113, 113);
}
.btn:hover {
  background-color: var(--biscuit);
  color: var(--rooibos);
}
.form-signin {
  background-color: rgba(214, 214, 216, 0.6);
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: auto;
}
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input,
.form-label-group > label {
  height: 3.125rem;
  padding: .75rem;
}
.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}
.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  
}
.alert {
  background: none;
  border:none;
  padding: 0;
  color: var(--rooibos);
  font-size: 20px;
}
/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
