{% extends 'product/base.html' %}
{% block title %}Pur Beurre - Connexion{% endblock %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<section class="page-section h-100" id="connection">
  <form class="form-signin rounded align-items-center" action="{% url 'login' %}" method="POST">
    {{ message }}
    <div class="text-center mb-4">
      <img src="{% static 'product/img/nav/logo_pur_beurre.png' %}" alt="" width="80" height="80">
      <h1 class="pb-2">Connecxion</h1> 
      {% if messages %}
        {% for message in messages %}
          <p class="text-success -{{ message.tags }}">
            {{ message }}
          </p>
        {% endfor %}
        {% else %}
        <div class="text-center mt-4">
          <p>Tu n'es pas encore inscrit ?
            <a href="{% url 'register' %}">Inscris-toi</a>
          </p>
        </div>
      {% endif %}

    </div>

    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-block mt-4 " type="submit">Se connecter</button>

  </form>
</section>

{% endblock %}