{% extends 'product/base.html' %}
{% load static %}
{% block content %}

<section class="page-section h-100" id="connection">
  <form class="container rounded col-lg-6 col-md-10 bg-white"> 
    <div class="text-center mb-4">
      <img class="mb-4" src="{% static 'product/img/nav/logo_pur_beurre.png' %}" alt="" width="100" height="100">
      <h3>Vous êtes déconnectée.</h3> 
      <h3>Merci de votre visite !</h3>
      <h3>A bientot
        <i class="fas fa-smile-wink"></i>
      </h3>
    </div>
    <div class="text-center mb-4">
      <img class="" src="{% static 'product/img/colette.png' %}" alt="">
      <img class="" src="{% static 'product/img/remy.png' %}" alt="">
    </div>
    
    <div></div>
  </form>
</section>



{% endblock %}