{% extends 'product/base.html' %}
{% block title %}Déconnexion{% endblock %}
{% load static %}
{% block content %}

<section class="page-section" id="logout">
  <div class= "container logout col-lg-6 col-md-9 mt-4 pt-4">
    <div class="row justify-content-center">
      <img class="mb-4" src="{% static 'product/img/nav/logo_pur_beurre.png' %}" alt="" width="100" height="100">
      <div class="row w-100"></div>
      <h1>Tu es déconnecté(e) !</h1>
      <div class="row w-100"></div>
      <h1>Merci de ta visite</h1>
      <div class="row w-100"></div>
      <h1><strong> A bientôt !</strong></h1>
      <div class="row w-100"></div>
      
    </div>
  </div>
</section>



{% endblock %}