{% extends 'product/base.html' %}
{% block title %}Profil{% endblock %}
{% load static %}
{% block content %}

<section class="page-section h-100" id="profile">
	<div class= "container logout col-lg-6 col-md-9 mt-4 pt-4">
		<div class="row">
				<div class="col-lg-12 text-center">
						<h1>Profil de <strong>{{ name }}</strong></h1>
						<hr class="divider">
						<h2>Email : <strong>{{ user.email }}</strong></h2>
						<div class="py-5">
								<a class="nav-link js-scroll-trigger" href="{% url 'favorites' %}">
									<p class="m-0"><img class="img-fluid h-50" src="{% static 'product/img/star.png' %}"
									alt="logo favoris"></p></a>
									<h2 class="pt-0">
									Tu as <strong>{{ favorites }} produits favoris</strong></h2>
						</div>
				</div>
		</div>
	</div>
</section>
{% include 'product/footer.html' %}
{% endblock %}